body{
    text-align: center;
}

button{
    width: 30%;
    height: 30%;
    font-size: 3em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    border: 0px;
    transition-duration: 0.5s;
}

button:hover{
    top: 50%;
    transform: translateY(-65%);
}